# Ignore everything by default
*

# But do not ignore directories so that Git can traverse them.
!*/

# Un-ignore all .cpp files (in the root and any subdirectories)
!**/*.cpp

# Always track this .gitignore file
!.gitignore
